body{
    background-color: #00F; /*color azul == color de funda*/
    font-style:italic; /*letra cursiva*/
    /*font-weight: bold; significa letra negrita*/
    color: rgb(21, 255, 0); /*color rojo == color de letra*/
 }